/* Fuentes personalizadas */
@font-face {
    font-family: modernAge;
    src: url(../fonts/modernAge.ttf);
}

@font-face {
    font-family: socialMedia;
    src: url(../fonts/socialMedia.ttf);
}

/* Imagen de fondo para la página */
body {
    background-image: url(../media/fondo.png);
    background-repeat: repeat;
    margin: 0;
}

/* Decoración para los textos */
i {
    font-style: normal;
    color: rgb(100, 110, 203);
}

/* Encabezado de página */
header {
    display: flex;
    background-color: rgb(31, 28, 28);

}

.logo {
    width: 100px;
    height: 100px;
    padding: 10px 10px 10px 10px;
}

header>div {
    display: inline;
    align-items: center;
    margin: auto;
}

header>div>h1,
h5 {
    color: white;
    text-align: center;
    font-family: 'modernAge';
}

/* Barra de navegación */
nav {
    background-color: rgb(51, 51, 51);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    font-family: 'Helvetica';
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(31, 28, 28);
    color: rgb(100, 110, 203);
}

/* Footer */
footer {
    background-color: rgb(31, 28, 28);
    display: flex;
}

.contenedorLogo {
    width: 33%;
    text-align: center;
    display: block;
}

.contenedorLogo>h5 {
    font-family: 'modernAge';
    margin-top: 5px;
    margin-bottom: 5px;
}

.contenedorLogo>hr {
    width: 300px;
}

.contacto {
    text-align: center;
    width: 33%;
    display: block;
}

.contacto>p {
    margin-top: 5px;
    margin-bottom: 2px;
    font-family: 'Helvetica';
    color: white;
}

.contacto>h5 {
    margin: 5px 0px;
}

.contacto>hr {
    width: 300px;
}

.verTambien {
    width: 33%;
    text-align: center;
}

.verTambien>h5 {
    margin: 5px 0px;
}

.verTambien>a {
    color: white;
    font-family: 'Helvetica';
}

.verTambien>hr {
    width: 300px;
}

.copyright {
    display: flex;
    background-color: rgb(38, 35, 35);
    justify-content: center;
}

.copyright>p, .copyright>p>a {
    color: white;
    font-family: 'Helvetica';
}

/* Estilos de las cajas */
main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;
}

article {
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    gap: 1em;
    padding: 1em;
    background-color: rgb(100, 110, 203, 0.5);
    width: 75%;
    margin: auto;
}

/* Título*/
#tituloLineaTiempo{
    display: block;
    text-align: center;
    background-color: black;
    margin: auto;
    border-radius: 20px;
    width: 1025px;
    font-family: 'modernAge';
    color: white;
    height: 35px;
}

/* Contenido del article */
.fotoPerfil {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: 1px solid black;
}

.verificado{
    width: 15px;
    height: 15px;
    margin: 10px 0px 0px -10px;
}

.separador{
    width: 1px;
    background-color: black;
    margin: 10px 0px 10px 0px;
}

.nombreUsuario{
    font-family: 'socialMedia';
}

.user{
    font-size: 13px;
    margin-top: 1px;
    color: rgb(51, 51, 51);
    text-decoration: underline;
}

.tuAmigo, .siguiendo{
    font-family: 'Helvetica';
    font-size: 12px;
    color: rgb(70, 70, 70);
    text-align: right;
}

.contenido {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    margin: auto;
}

.texto{
    font-size: 25px;
}

.fecha {
    color: rgb(70, 70, 70);
    font-size: 12px;
    margin-top: -20px;
}

.texto, .fecha{
    font-family: 'Helvetica';
}

.imgPublicacion{
    margin: auto;
    width: 450px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
}

.acciones {
    display: flex;
    gap: 0.5em;
    margin-top: 1em;
    height: 80px;
}

#comentario{
    resize: none;
    height: 30px;
    margin: auto;
    margin-left: 5px;
}

button{
    margin: auto;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
    background-color: rgb(70, 70, 70, 0.7);
    color: white;
    border-radius: 20px;
    border: none;
}

button:hover{
    background-color: rgb(70, 70, 70);
}

.imgAccion{
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.imgAccion:hover{
    width: 40px;
    height: 40px;
}